.navbar-wrapper {
  text-align: center;
}

nav {
  background-color: #f2f2f2;
}

.navbar-wrapper ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.navbar-wrapper li {
  margin-right: 1rem;
}

.navbar-wrapper a {
  display: block;
  padding: 0.5rem;
  color: #333;
  text-decoration: none;
}

a:hover {
  background-color: #ddd;
}

.active {
  background-color: #4caf50;
  color: white;
}
